{% load static %}

<link rel="stylesheet" href="{% static 'pokepoll/style.css' %}">


{% if latest_pokemon_list %}
    <ul>
    {% for pokemon in latest_pokemon_list %}
    <img class="pokemon-icon" src="{% static 'pokepoll/img/placeholdersprite.png' %}" pokemon-dex="{{ pokemon.pokemon_species }}">
    <li><a href="{% url 'pokepoll:detail' pokemon.id %}">{{ pokemon.pokemon_nickname }} (submitted by {{ pokemon.submitter.name }}) </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<!-- Import home-built libraries -->
<script src="{% static 'pokepoll/pokeapifunctions.js' %}"></script>

<!-- Specific JS Code -->
<script>

    async function populateIcons() {
        let icons = document.getElementsByClassName("pokemon-icon");
        for (let i = 0; i < icons.length; i++) {
            let dexNumber = icons[i].getAttribute("pokemon-dex");
            let spriteURL = await getPokemonSpriteURL(dexNumber);
            icons[i].src = spriteURL;
        }
    }

    populateIcons();

</script>