{% load static %}

<img class="pokemon-sprite" src="{% static 'pokepoll/img/placeholdersprite.png' %}">

<h3 id="pokemon-species"></h3>

{{ pokemon }}


<p>Submitted by {{ pokemon.submitter.name }} </p>

<h2>Submissime owo</h2>

<h3> IVs and EVs </h3>
<p> IVs: {{ pokemon.pokemon_IV }} </p>
<p> EVs: {{ pokemon.pokemon_EV }} </p>

<h3> Moves </h3>
<ul>
    {% for move in pokemon.pokemon_moves %}
        <li>{{ move }}</li>
    {% endfor %}
</ul>

<!-- Import JQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<!-- Import home-built libraries -->
<script src="{% static 'pokepoll/pokeapifunctions.js' %}"></script>

<!-- Specific JS Code -->
<script>

    // set all img tags with the class "pokemon-sprite" to the correct sprite
    let spriteURL = getPokemonSpriteURL("{{ pokemon.pokemon_species }}");
    $(".pokemon-sprite").attr("src", spriteURL);


    async function populatePokemonName() {
        let speciesName = await getPokemonNameFromID("{{ pokemon.pokemon_species }}");
        console.log(speciesName);
        speciesName = speciesName.charAt(0).toUpperCase() + speciesName.slice(1);
        $("#pokemon-species").text(speciesName);
    }

    

    populatePokemonName();

</script>