{% load static %}

<link rel="stylesheet" href="{% static 'pokepoll/styles/style.css' %}">
<link rel="stylesheet" href="{% static 'pokepoll/styles/dark-style.css' %}">

<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
    <meta name="description" content="User Registration">
    <meta name="keywords" content="Game Tool, Pokemon, Egglocke">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'pokepoll/styles/dark-style.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'pokepoll:home' %}">Evii's Egglocke Maker :3</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pokepoll:home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'pokepoll:submit' %}">Submit an egg!</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'pokepoll:submissions' %}">View Submissions!</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'pokepoll:downloadSaveFile' %}">Request a save file</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link">{{ user.username }} ({{ user.id }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pokepoll:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link">You are not logged in</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'pokepoll:login' %}">Login</a>
                </li>
                {% endif %}
                
                


            </ul>
        </div>
    </div>
</nav>

<div class="site-wrapper">

    {% if latest_pokemon_list %}
        <ul>
        {% for pokemon in latest_pokemon_list %}
        <img class="pokemon-icon" src="{% static 'pokepoll/img/placeholdersprite.png' %}" pokemon-dex="{{ pokemon.pokemon_species }}" pokemon_is_shiny={{pokemon.pokemon_is_shiny}}>
        <li><a href="{% url 'pokepoll:detail' pokemon.id %}">{{ pokemon.pokemon_nickname }} (submitted by {{ pokemon.submitter.name }}) </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No pokemon have been submitted </p>

        <img src="{% static 'pokepoll/img/wally_defeat.gif' %}">

    {% endif %}

</div>

<!-- Import home-built libraries -->
<script src="{% static 'pokepoll/styles/pokeapifunctions.js' %}"></script>
<script src="{% static 'pokepoll/styles/uifunctions.js' %}"></script>

<!-- Specific JS Code -->
<script>
    populateIcons();
</script>

</body>
</html>